# IDE Settings
.idea/

# Virtual Environments (Pipenv & others)
.venv/
venv/
env/
.env
.pipenv/

# Personal Test Files
.ipynb_checkpoints/
ahmad.txt
ahmad.py
fun.txt
test/
test*.py
All_Projects/

# Media & Large Files
*.jpg
*.jpeg
*.png
*.gif

# Data Files (JSON, Excel, CSV)
*.json
*.xlsx
*.xls
*.csv

# Databases
*.db
*.sqlite3
*.sqlite
*.sql

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
# Mac system files
__MACOSX/
.DS_Store
pandas/data/
pandas/data_2/
**/data/
**/data_2/