[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
numpy = "*"
ipykernel = "*"
yt-dlp = { extras = ["default"], version = "*" }
customtkinter = "*"
seaborn = "*"
yfinance = "*"
black = "*"
pillow = "*"
pyinstaller = "*"
manim = "*"
binarytree = "*"
setuptools = "*"
twentytab-tree = "*"

[dev-packages]

[requires]
python_version = "3.12"
