[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
numpy = "*"
ipykernel = "*"
yt-dlp = { extras = ["default"], version = "*" }
seaborn = "*"
yfinance = "*"
black = "*"
pyinstaller = "*"
binarytree = "*"
setuptools = "*"
twentytab-tree = "*"
openpyxl = "*"
pillow = "*"
pytmx = "*"
pygame-ce = "*"
customtkinter = "*"

[dev-packages]

[requires]
python_version = "3.14"
